﻿@{
    ViewBag.Title = "Server Configuration";

    List<KeyValuePair<string, string>> breadCrumb = new List<KeyValuePair<string, string>>();
    breadCrumb.Add(new KeyValuePair<string, string>("Servers", "/Servers/"));
    breadCrumb.Add(new KeyValuePair<string, string>(ViewBag.Server.Name, "/" + ViewBag.ServerID + "/Dashboard/"));
    breadCrumb.Add(new KeyValuePair<string, string>("Server Configuration", "/" + ViewBag.ServerID + "/Configuration/"));
    ViewBag.Breadcrumb = breadCrumb;

    ViewBag.RefreshBtn = true;
}
<script type="text/javascript" src="/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
<script type="text/javascript" src="/Content/Js/TouchSpinMod.js"></script>
<script type="text/javascript" src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" />

<div class="col-md-12">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="tabbable-custom nav-justified">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#tab_Network" data-toggle="tab">
                            Network
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Server" data-toggle="tab">
                            Server
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Gameplay" data-toggle="tab">
                            Gameplay
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Players" data-toggle="tab">
                            Players
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Mods" data-toggle="tab">
                            Mods
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Access" data-toggle="tab">
                            Access
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Production" data-toggle="tab">
                            Production
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Construction" data-toggle="tab">
                            Construction
                        </a>
                    </li>
                    <li>
                        <a href="#tab_Misc" data-toggle="tab">
                            Miscellaneous
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tab" id="btnShowAll">
                            All
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_Network">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Network Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Listening IP</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpIP" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Listening Port</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpServerPort" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Steam Port</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpSteamPort" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Online Mode</label>
                                            <div class="col-md-6">
                                                <select id="inpOnlineMode" class="bs-select form-control">
                                                    <option value="OFFLINE">Offline</option>
                                                    <option value="PRIVATE">Private</option>
                                                    <option value="FRIENDS">Friends</option>
                                                    <option value="PUBLIC">Public</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Server Name</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpServerName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">World Name</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpWorldName" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Server">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Server Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Players</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxPlayers" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Floating Objects</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxFloatingObjects" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Backup Saves</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxBackupSaves" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Grid Size</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxGridSize" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Block Limits</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableBlockLimits">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Blocks Per Player</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxBlocksPerPlayer" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Save (In Minutes)</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpAutoSaveInMinutes" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Pause Game When Empty</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpPauseGameWhenEmpty">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">World Size Km</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpWorldSizeKm" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">View Distance</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpViewDistance" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Client Can Save Locally</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpClientCanSave">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Remove Trash</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpRemoveTrash">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Sun Rotation</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableSunRotation">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Sun Rotation Interval Minutes</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpSunRotationIntervalMinutes" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Scenario</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpScenario">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Scenario Edit Mode</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpScenarioEditMode">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Battle</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpBattle">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Physics Iterations</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpPhysicsIterations" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Flora</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableFlora">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Flora Density</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpFloraDensity" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Flora Density Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpFloraDensityMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Can Join Running</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpCanJoinRunning">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Remote Block Removal</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableRemoteBlockRemoval">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Gameplay">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Gameplay Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Active Fracture Pieces</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxActiveFracturePieces" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Structural Simulation</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableStructuralSimulation">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Spawn Ship Time Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpSpawnShipTimeMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Delete Respawn Ship</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpRespawnShipDelete">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Disable Respawn Ships</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input type="checkbox" id="inpDisableRespawnShips" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Start In Respawn Screen</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpStartInRespawnScreen">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Thruster Damage</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpThrusterDamage">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Ingame Scripts</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableIngameScripts">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Environment Hostility</label>
                                            <div class="col-md-6">
                                                <select id="inpEnvironmentHostility" class="bs-select form-control">
                                                    <option value="SAFE">Safe</option>
                                                    <option value="NORMAL">Normal</option>
                                                    <option value="CATACLYSM">Cataclysm</option>
                                                    <option value="CATACLYSM_UNREAL">Cataclysm Unreal</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Spawn Cargo Ships</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpCargoShipsEnabled">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Voxel Generator Version</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpVoxelGeneratorVersion" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Oxygen</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableOxygen">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Tool Shake</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableToolShake">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Encounters</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableEncounters">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Drones</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableDrones">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Max Drones</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpMaxDrones" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Wolfs</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableWolfs">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Spiders</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableSpiders">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Oxygen Pressurization</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableOxygenPressurization">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Players">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Players Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Auto Healing</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpAutoHealing">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Weapons Enabled</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpWeaponsEnabled">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Inventory Size Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpInventorySizeMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Spectator</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableSpectator">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Permanent Death</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpPermanentDeath">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Show Player Names On Hud</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpShowPlayerNamesOnHud">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Jetpack</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableJetpack">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Spawn With Tools</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpSpawnWithTools">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Allow 3rd Person View</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnable3rdPersonView">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Mods">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Mods</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Mods</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpMods" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Access">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Access Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Administrators</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpAdministrators" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Banned</label>
                                            <div class="col-md-6">
                                                <textarea rows="10" id="inpBanned" style="width: 100%; resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Reset Ownership</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpResetOwnership">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Steam Group ID</label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="inpGroupID" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Production">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Production Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Assembler Speed Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpAssemblerSpeedMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Assembler Efficiency Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpAssemblerEfficiencyMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Refinery Speed Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpRefinerySpeedMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Construction">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Construction Settings</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">GameMode</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpGameMode" class="make-switch" data-off-text="&nbsp;Survival&nbsp;" data-on-text="&nbsp;Creative&nbsp;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Welder Speed Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpWelderSpeedMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Grinder Speed Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpGrinderSpeedMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Hack Speed Multiplier</label>
                                            <div class="col-md-6">
                                                <div class="input-inline input-small">
                                                    <input id="inpHackSpeedMultiplier" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Copy Paste</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableCopyPaste">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Destructible Blocks</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpDestructibleBlocks">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Voxel Destruction</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableVoxelDestruction">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Enable Convert To Station</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpEnableConvertToStation">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Unsupported stations</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpUnsupportedStations">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="tab_Misc">
                        <form action="#" class="form-horizontal form">
                            <div class="form-body">
                                <h3 class="form-section">Miscellaneous</h3>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Ignore Last Session</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpIgnoreLastSession">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">Realistic Sound</label>
                                            <div class="col-md-6">
                                                <input type="checkbox" id="inpRealisticSound">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn green" id="btnSave">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function initPage() {
        $('#btnShowAll').click(function () {
            $('.tab-pane').addClass("active");
        });

        function isEmptyOrSpaces(str) {
            return str === null || str.match(/^\s*$/) !== null;
        }

        // Initializers
        $.fn.bootstrapSwitch.defaults.onText = '<i class="fa fa-check"></i>';
        $.fn.bootstrapSwitch.defaults.offText = '<i class="fa fa-times"></i>';
        $("input[type='checkbox']").bootstrapSwitch();
        // Network
        $('#inpServerPort').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 65535,
            step: 1
        });
        $('#inpSteamPort').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 65535,
            step: 1
        });

        // Server
        $('#inpMaxPlayers').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            step: 1
        });
        $('#inpMaxFloatingObjects').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            step: 1
        });
        $('#inpMaxGridSize').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            step: 1
        });
        $('#inpMaxBackupSaves').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 10,
            step: 1
        });
        $('#inpMaxBlocksPerPlayer').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 10000000,
            step: 1
        });
        $('#inpAutoSaveInMinutes').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            step: 1
        });
        $('#inpWorldSizeKm').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 10000000,
            step: 1
        });
        $('#inpViewDistance').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 10000000,
            step: 1000
        });
        $('#inpSunRotationIntervalMinutes').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 10000000,
            decimals: 2,
            step: 1
        });
        $('#inpPhysicsIterations').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 10000000,
            step: 1
        });
        $('#inpFloraDensity').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 10000000,
            step: 1
        });
        $('#inpFloraDensityMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 10000000,
            decimals: 2,
            step: 1
        });

        // Gameplay
        $('#inpSpawnShipTimeMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            decimals: 2,
            step: 1
        });
        $('#inpVoxelGeneratorVersion').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 2,
            step: 1
        });
        $('#inpMaxDrones').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 10000000,
            step: 1
        });
        $('#inpMaxActiveFracturePieces').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 100,
            step: 1
        });

        // Players
        $('#inpInventorySizeMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });

        // Production
        $('#inpAssemblerSpeedMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });
        $('#inpAssemblerEfficiencyMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });
        $('#inpRefinerySpeedMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });

        // Construction
        $('#inpWelderSpeedMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });
        $('#inpGrinderSpeedMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 1,
            max: 1000000,
            decimals: 2,
            step: 1
        });
        $('#inpHackSpeedMultiplier').TouchSpin({
            buttondown_class: 'btn blue',
            buttonup_class: 'btn green',
            min: 0,
            max: 1000000,
            decimals: 2,
            step: 0.01
        });

        var dataLoaded = false;
        var maskData = "";

        function ShowContent() {
            if (dataLoaded) {
                UnlockPage();
            }
        }

        function LoadParam() {
            LockPage();

            dataLoaded = false;
            maskLoaded = false;
            $.post("/API/Server/SEGetConfiguration",
            {
                ServerID: serverID
            },
            function (data) {
                dataLoaded = true;
                var root = $($.parseXML(data)).find("Response");

                if (root.children("Type").text() == "Error") {
                    toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                    ShowContent();
                    return;
                }

                var content = root.children("Content");
                var values = content.children("Values");
                maskData = content.children("Rights");

                // Network
                $('#inpIP').val(values.children("IP").text());
                $('#inpServerPort').val(values.children("ServerPort").text());
                $('#inpSteamPort').val(values.children("SteamPort").text());
                $('#inpOnlineMode').val(values.children("OnlineMode").text());
                $('#inpServerName').val(values.children("ServerName").text());
                $('#inpWorldName').val(values.children("WorldName").text());

                // Server
                $('#inpMaxPlayers').val(values.children("MaxPlayers").text());
                $('#inpMaxFloatingObjects').val(values.children("MaxFloatingObjects").text());
                $('#inpMaxGridSize').val(values.children("MaxGridSize").text());
                $('#inpMaxBackupSaves').val(values.children("MaxBackupSaves").text());
                $('#inpMaxBlocksPerPlayer').val(values.children("MaxBlocksPerPlayer").text());
                $("#inpEnableBlockLimits").bootstrapSwitch('state', values.children("EnableBlockLimits").text() == "true");
                $('#inpAutoSaveInMinutes').val(values.children("AutoSaveInMinutes").text());
                $("#inpPauseGameWhenEmpty").bootstrapSwitch('state', values.children("PauseGameWhenEmpty").text() == "true");
                $('#inpWorldSizeKm').val(values.children("WorldSizeKm").text());
                $('#inpViewDistance').val(values.children("ViewDistance").text());
                $("#inpClientCanSave").bootstrapSwitch('state', values.children("ClientCanSave").text() == "true");
                $("#inpRemoveTrash").bootstrapSwitch('state', values.children("RemoveTrash").text() == "true");
                $("#inpEnableSunRotation").bootstrapSwitch('state', values.children("EnableSunRotation").text() == "true");
                $('#inpSunRotationIntervalMinutes').val(values.children("SunRotationIntervalMinutes").text());
                $("#inpScenario").bootstrapSwitch('state', values.children("Scenario").text() == "true");
                $("#inpScenarioEditMode").bootstrapSwitch('state', values.children("ScenarioEditMode").text() == "true");
                $("#inpBattle").bootstrapSwitch('state', values.children("Battle").text() == "true");
                $('#inpPhysicsIterations').val(values.children("PhysicsIterations").text());
                $("#inpEnableFlora").bootstrapSwitch('state', values.children("EnableFlora").text() == "true");
                $("#inpFloraDensity").val(values.children("FloraDensity").text());
                $("#inpCanJoinRunning").bootstrapSwitch('state', values.children("CanJoinRunning").text() == "true");
                $("#inpFloraDensityMultiplier").val(values.children("FloraDensityMultiplier").text());
                $("#inpEnableRemoteBlockRemoval").bootstrapSwitch('state', values.children("EnableRemoteBlockRemoval").text() == "true");

                // Gameplay
                $('#inpEnableStructuralSimulation').bootstrapSwitch('state', values.children("EnableStructuralSimulation").text() == "true");
                $('#inpMaxActiveFracturePieces').val(values.children("MaxActiveFracturePieces").text());
                $('#inpSpawnShipTimeMultiplier').val(values.children("SpawnShipTimeMultiplier").text());
                $('#inpRespawnShipDelete').bootstrapSwitch('state', values.children("RespawnShipDelete").text() == "true");
                $('#inpDisableRespawnShips').bootstrapSwitch('state', values.children("DisableRespawnShips").text() == "true");
                $('#inpStartInRespawnScreen').bootstrapSwitch('state', values.children("StartInRespawnScreen").text() == "true");
                $('#inpThrusterDamage').bootstrapSwitch('state', values.children("ThrusterDamage").text() == "true");
                $('#inpEnableIngameScripts').bootstrapSwitch('state', values.children("EnableIngameScripts").text() == "true");
                $('#inpEnvironmentHostility').val(values.children("EnvironmentHostility").text());
                $('#inpCargoShipsEnabled').bootstrapSwitch('state', values.children("CargoShipsEnabled").text() == "true");
                $('#inpEnableToolShake').bootstrapSwitch('state', values.children("EnableToolShake").text() == "true");
                $('#inpVoxelGeneratorVersion').val(values.children("VoxelGeneratorVersion").text());
                
                $('#inpEnableOxygen').bootstrapSwitch('state', values.children("EnableOxygen").text() == "true");
                $('#inpEnableOxygenPressurization').bootstrapSwitch('state', values.children("EnableOxygenPressurization").text() == "true");
                $('#inpEnableEncounters').bootstrapSwitch('state', values.children("EnableEncounters").text() == "true");
                $('#inpEnableDrones').bootstrapSwitch('state', values.children("EnableDrones").text() == "true");
                $('#inpMaxDrones').val(values.children("MaxDrones").text());

                $('#inpEnableWolfs').bootstrapSwitch('state', values.children("EnableWolfs").text() == "true");
                $('#inpEnableSpiders').bootstrapSwitch('state', values.children("EnableSpiders").text() == "true");

                // Players
                $('#inpAutoHealing').bootstrapSwitch('state', values.children("AutoHealing").text() == "true");
                $('#inpWeaponsEnabled').bootstrapSwitch('state', values.children("WeaponsEnabled").text() == "true");
                $('#inpInventorySizeMultiplier').val(values.children("InventorySizeMultiplier").text());
                $('#inpEnableSpectator').bootstrapSwitch('state', values.children("EnableSpectator").text() == "true");
                $('#inpPermanentDeath').bootstrapSwitch('state', values.children("PermanentDeath").text() == "true");
                $('#inpShowPlayerNamesOnHud').bootstrapSwitch('state', values.children("ShowPlayerNamesOnHud").text() == "true");
                $('#inpEnableJetpack').bootstrapSwitch('state', values.children("EnableJetpack").text() == "true");
                $('#inpSpawnWithTools').bootstrapSwitch('state', values.children("SpawnWithTools").text() == "true");
                $('#inpEnable3rdPersonView').bootstrapSwitch('state', values.children("Enable3rdPersonView").text() == "true");

                // Mods
                var mods = [];
                values.children("Mods").children().each(function (index) {
                    var item = $(this);
                    mods.push(item.text());
                });
                $('#inpMods').val(mods.join("\r\n"));

                // Access
                var administrators = [];
                values.children("Administrators").children().each(function (index) {
                    var item = $(this);
                    administrators.push(item.text());
                });
                $('#inpAdministrators').val(administrators.join("\r\n"));
                var banned = [];
                values.children("Banned").children().each(function (index) {
                    var item = $(this);
                    banned.push(item.text());
                });
                $('#inpBanned').val(banned.join("\r\n"));
                $('#inpResetOwnership').bootstrapSwitch('state', values.children("ResetOwnership").text() == "true");
                $('#inpGroupID').val(values.children("GroupID").text());

                // Production
                $('#inpAssemblerSpeedMultiplier').val(values.children("AssemblerSpeedMultiplier").text());
                $('#inpAssemblerEfficiencyMultiplier').val(values.children("AssemblerEfficiencyMultiplier").text());
                $('#inpRefinerySpeedMultiplier').val(values.children("RefinerySpeedMultiplier").text());

                // Construction
                if (values.children("GameMode").text() == "Survival") {
                    $("#inpGameMode").bootstrapSwitch('state', false);
                } else if (values.children("GameMode").text() == "Creative") {
                    $("#inpGameMode").bootstrapSwitch('state', true);
                }
                $('#inpWelderSpeedMultiplier').val(values.children("WelderSpeedMultiplier").text());
                $('#inpGrinderSpeedMultiplier').val(values.children("GrinderSpeedMultiplier").text());
                $('#inpHackSpeedMultiplier').val(values.children("HackSpeedMultiplier").text());
                $("#inpEnableCopyPaste").bootstrapSwitch('state', values.children("EnableCopyPaste").text() == "true");
                $("#inpDestructibleBlocks").bootstrapSwitch('state', values.children("DestructibleBlocks").text() == "true");
                $("#inpEnableConvertToStation").bootstrapSwitch('state', values.children("EnableConvertToStation").text() == "true");
                $("#inpStationVoxelSupport").bootstrapSwitch('state', values.children("StationVoxelSupport").text() == "true");
                $("#inpEnableVoxelDestruction").bootstrapSwitch('state', values.children("EnableVoxelDestruction").text() == "true");

                // Misc
                $("#inpIgnoreLastSession").bootstrapSwitch('state', values.children("IgnoreLastSession").text() == "true");
                $("#inpRealisticSound").bootstrapSwitch('state', values.children("RealisticSound").text() == "true");


                // -- Rights --

                // Network
                $('#inpIP').prop("readonly", maskData.children("IP").text() != "true");
                $('#inpServerPort').prop("readonly", maskData.children("ServerPort").text() != "true");
                $('#inpSteamPort').prop("readonly", maskData.children("SteamPort").text() != "true");
                $('#inpOnlineMode').prop("disabled", maskData.children("OnlineMode").text() != "true");
                $('#inpServerName').prop("readonly", maskData.children("ServerName").text() != "true");
                $('#inpWorldName').prop("readonly", maskData.children("WorldName").text() != "true");

                // Server
                $('#inpMaxPlayers').prop("readonly", maskData.children("MaxPlayers").text() != "true");
                $('#inpMaxFloatingObjects').prop("readonly", maskData.children("MaxFloatingObjects").text() != "true");
                $('#inpMaxBackupSaves').prop("readonly", maskData.children("MaxBackupSaves").text() != "true");
                $('#inpMaxGridSize').prop("readonly", maskData.children("MaxGridSize").text() != "true");
                $('#inpMaxBlocksPerPlayer').prop("readonly", maskData.children("MaxBlocksPerPlayer").text() != "true");
                $("#inpEnableBlockLimits").bootstrapSwitch("readonly", maskData.children("EnableBlockLimits").text() != "true");
                $('#inpAutoSaveInMinutes').prop("readonly", maskData.children("AutoSaveInMinutes").text() != "true");
                $("#inpPauseGameWhenEmpty").bootstrapSwitch("readonly", maskData.children("PauseGameWhenEmpty").text() != "true");
                $('#inpWorldSizeKm').prop("readonly", maskData.children("WorldSizeKm").text() != "true");
                $('#inpViewDistance').prop("readonly", maskData.children("ViewDistance").text() != "true");
                $("#inpClientCanSave").bootstrapSwitch("readonly", maskData.children("ClientCanSave").text() != "true");
                $("#inpRemoveTrash").bootstrapSwitch("readonly", maskData.children("RemoveTrash").text() != "true");
                $("#inpEnableSunRotation").bootstrapSwitch("readonly", maskData.children("EnableSunRotation").text() != "true");
                $('#inpSunRotationIntervalMinutes').prop("readonly", maskData.children("SunRotationIntervalMinutes").text() != "true");
                $("#inpScenario").bootstrapSwitch("readonly", maskData.children("Scenario").text() != "true");
                $("#inpScenarioEditMode").bootstrapSwitch("readonly", maskData.children("ScenarioEditMode").text() != "true");
                $("#inpBattle").bootstrapSwitch("readonly", maskData.children("Battle").text() != "true");
                $('#inpPhysicsIterations').prop("readonly", maskData.children("PhysicsIterations").text() != "true");
                $("#inpEnableFlora").bootstrapSwitch("readonly", maskData.children("EnableFlora").text() != "true");
                $("#inpFloraDensity").prop("readonly", maskData.children("FloraDensity").text() != "true");
                $("#inpCanJoinRunning").bootstrapSwitch("readonly", maskData.children("CanJoinRunning").text() != "true");
                $("#inpFloraDensityMultiplier").prop("readonly", maskData.children("FloraDensityMultiplier").text() != "true");
                $("#inpEnableRemoteBlockRemoval").bootstrapSwitch("readonly", maskData.children("EnableRemoteBlockRemoval").text() != "true");

                // Gameplay
                $('#inpMaxActiveFracturePieces').prop("disabled", maskData.children("MaxActiveFracturePieces").text() != "true");
                $('#inpEnableStructuralSimulation').bootstrapSwitch("readonly", maskData.children("EnableStructuralSimulation").text() != "true");
                $('#inpSpawnShipTimeMultiplier').prop("readonly", maskData.children("SpawnShipTimeMultiplier").text() != "true");
                $('#inpRespawnShipDelete').bootstrapSwitch("readonly", maskData.children("RespawnShipDelete").text() != "true");
                $('#inpDisableRespawnShips').bootstrapSwitch("readonly", maskData.children("DisableRespawnShips").text() != "true");
                $('#inpStartInRespawnScreen').bootstrapSwitch("readonly", maskData.children("StartInRespawnScreen").text() != "true");
                $('#inpThrusterDamage').bootstrapSwitch("readonly", maskData.children("ThrusterDamage").text() != "true");
                $('#inpEnableIngameScripts').bootstrapSwitch("readonly", maskData.children("EnableIngameScripts").text() != "true");
                $('#inpEnvironmentHostility').prop("disabled", maskData.children("EnvironmentHostility").text() != "true");
                $('#inpCargoShipsEnabled').bootstrapSwitch("readonly", maskData.children("CargoShipsEnabled").text() != "true");
                $('#inpEnableToolShake').bootstrapSwitch("readonly", maskData.children("EnableToolShake").text() != "true");
                $('#inpVoxelGeneratorVersion').prop("disabled", maskData.children("VoxelGeneratorVersion").text() != "true");
                $('#inpEnableOxygen').bootstrapSwitch("readonly", maskData.children("EnableOxygen").text() != "true");
                $('#inpEnableEncounters').bootstrapSwitch("readonly", maskData.children("EnableEncounters").text() != "true");
                $('#inpEnableDrones').bootstrapSwitch("readonly", maskData.children("EnableDrones").text() != "true");
                $('#inpMaxDrones').prop("disabled", maskData.children("MaxDrones").text() != "true");
                $('#inpEnableWolfs').bootstrapSwitch("readonly", maskData.children("EnableWolfs").text() != "true");
                $('#inpEnableSpiders').bootstrapSwitch("readonly", maskData.children("EnableSpiders").text() != "true");
                $('#inpEnableOxygenPressurization').bootstrapSwitch("readonly", maskData.children("EnableOxygenPressurization").text() != "true");

                // Players
                $('#inpAutoHealing').bootstrapSwitch("readonly", maskData.children("AutoHealing").text() != "true");
                $('#inpWeaponsEnabled').bootstrapSwitch("readonly", maskData.children("WeaponsEnabled").text() != "true");
                $('#inpInventorySizeMultiplier').prop("readonly", maskData.children("InventorySizeMultiplier").text() != "true");
                $('#inpEnableSpectator').bootstrapSwitch("readonly", maskData.children("EnableSpectator").text() != "true");
                $('#inpPermanentDeath').bootstrapSwitch("readonly", maskData.children("PermanentDeath").text() != "true");
                $('#inpEnableJetpack').bootstrapSwitch("readonly", maskData.children("EnableJetpack").text() != "true");
                $('#inpSpawnWithTools').bootstrapSwitch("readonly", maskData.children("SpawnWithTools").text() != "true");
                $('#inpShowPlayerNamesOnHud').bootstrapSwitch("readonly", maskData.children("ShowPlayerNamesOnHud").text() != "true");
                $('#inpEnable3rdPersonView').bootstrapSwitch("readonly", maskData.children("Enable3rdPersonView").text() != "true");

                // Mods
                $('#inpMods').prop("readonly", maskData.children("Mods").text() != "true");

                // Access
                $('#inpAdministrators').prop("readonly", maskData.children("Administrators").text() != "true");
                $('#inpBanned').prop("readonly", maskData.children("Banned").text() != "true");
                $('#inpResetOwnership').bootstrapSwitch("readonly", maskData.children("ResetOwnership").text() != "true");
                $('#inpGroupID').prop("readonly", maskData.children("GroupID").text() != "true");

                // Production
                $('#inpAssemblerSpeedMultiplier').prop("readonly", maskData.children("AssemblerSpeedMultiplier").text() != "true");
                $('#inpAssemblerEfficiencyMultiplier').prop("readonly", maskData.children("AssemblerEfficiencyMultiplier").text() != "true");
                $('#inpRefinerySpeedMultiplier').prop("readonly", maskData.children("RefinerySpeedMultiplier").text() != "true");

                // Construction
                $("#inpGameMode").bootstrapSwitch("readonly", maskData.children("GameMode").text() != "true");
                $('#inpWelderSpeedMultiplier').prop("readonly", maskData.children("WelderSpeedMultiplier").text() != "true");
                $('#inpGrinderSpeedMultiplier').prop("readonly", maskData.children("GrinderSpeedMultiplier").text() != "true");
                $('#inpHackSpeedMultiplier').prop("readonly", maskData.children("HackSpeedMultiplier").text() != "true");
                $("#inpEnableCopyPaste").bootstrapSwitch("readonly", maskData.children("EnableCopyPaste").text() != "true");
                $("#inpDestructibleBlocks").bootstrapSwitch("readonly", maskData.children("DestructibleBlocks").text() != "true");
                $("#inpEnableVoxelDestruction").bootstrapSwitch("readonly", maskData.children("EnableVoxelDestruction").text() != "true");
                $("#inpEnableConvertToStation").bootstrapSwitch("readonly", maskData.children("EnableConvertToStation").text() != "true");
                $("#inpStationVoxelSupport").bootstrapSwitch("readonly", maskData.children("StationVoxelSupport").text() != "true");

                // Misc
                $("#inpIgnoreLastSession").bootstrapSwitch("readonly", maskData.children("IgnoreLastSession").text() != "true");
                $("#inpRealisticSound").bootstrapSwitch("readonly", maskData.children("RealisticSound").text() != "true");

                ShowContent();
            });
        }

        LoadParam();

        $("#btnRefresh").click(function () {
            LoadParam();
        });

        $("#btnSave").click(function () {
            bootbox.confirm("If the server is running, it WILL be restarted !<br/>Are you sure you want to save ?",
            function (result) {
                if (result) {
                    var config = {};

                    // Network
                    if (maskData.children("IP").text() == "true")
                        config.IP = $('#inpIP').val();
                    if (maskData.children("ServerPort").text() == "true")
                        config.ServerPort = $('#inpServerPort').val();
                    if (maskData.children("SteamPort").text() == "true")
                        config.SteamPort = $('#inpSteamPort').val();
                    if (maskData.children("OnlineMode").text() == "true")
                        config.OnlineMode = $('#inpOnlineMode').val();
                    if (maskData.children("ServerName").text() == "true")
                        config.ServerName = $('#inpServerName').val();
                    if (maskData.children("WorldName").text() == "true")
                        config.WorldName = $('#inpWorldName').val();

                    // Server
                    if (maskData.children("MaxPlayers").text() == "true")
                        config.MaxPlayers = $('#inpMaxPlayers').val();
                    if (maskData.children("MaxFloatingObjects").text() == "true")
                        config.MaxFloatingObjects = $('#inpMaxFloatingObjects').val();
                    if (maskData.children("MaxBackupSaves").text() == "true")
                        config.MaxBackupSaves = $('#inpMaxBackupSaves').val();
                    if (maskData.children("MaxGridSize").text() == "true")
                        config.MaxGridSize = $('#inpMaxGridSize').val();
                    if (maskData.children("MaxBlocksPerPlayer").text() == "true")
                        config.MaxBlocksPerPlayer = $('#inpMaxBlocksPerPlayer').val();
                    if (maskData.children("EnableBlockLimits").text() == "true")
                        config.EnableBlockLimits = $('#inpEnableBlockLimits').is(":checked");
                    if (maskData.children("AutoSaveInMinutes").text() == "true")
                        config.AutoSaveInMinutes = $('#inpAutoSaveInMinutes').val();
                    if (maskData.children("PauseGameWhenEmpty").text() == "true")
                        config.PauseGameWhenEmpty = $('#inpPauseGameWhenEmpty').is(":checked");
                    if (maskData.children("WorldSizeKm").text() == "true")
                        config.WorldSizeKm = $('#inpWorldSizeKm').val();
                    if (maskData.children("ViewDistance").text() == "true")
                        config.ViewDistance = $('#inpViewDistance').val();
                    if (maskData.children("ClientCanSave").text() == "true")
                        config.ClientCanSave = $('#inpClientCanSave').is(":checked");
                    if (maskData.children("RemoveTrash").text() == "true")
                        config.RemoveTrash = $('#inpRemoveTrash').is(":checked");
                    if (maskData.children("EnableSunRotation").text() == "true")
                        config.EnableSunRotation = $('#inpEnableSunRotation').is(":checked");
                    if (maskData.children("SunRotationIntervalMinutes").text() == "true")
                        config.SunRotationIntervalMinutes = $('#inpSunRotationIntervalMinutes').val();
                    if (maskData.children("Scenario").text() == "true")
                        config.Scenario = $('#inpScenario').is(":checked");
                    if (maskData.children("ScenarioEditMode").text() == "true")
                        config.ScenarioEditMode = $('#inpScenarioEditMode').is(":checked");
                    if (maskData.children("Battle").text() == "true")
                        config.Battle = $('#inpBattle').is(":checked");
                    if (maskData.children("PhysicsIterations").text() == "true")
                        config.PhysicsIterations = $('#inpPhysicsIterations').val();
                    if (maskData.children("EnableFlora").text() == "true")
                        config.EnableFlora = $('#inpEnableFlora').is(":checked");
                    if (maskData.children("FloraDensity").text() == "true")
                        config.FloraDensity = $('#inpFloraDensity').val();
                    if (maskData.children("CanJoinRunning").text() == "true")
                        config.CanJoinRunning = $('#inpCanJoinRunning').is(":checked");
                    if (maskData.children("FloraDensityMultiplier").text() == "true")
                        config.FloraDensityMultiplier = $('#inpFloraDensityMultiplier').val();
                    if (maskData.children("EnableRemoteBlockRemoval").text() == "true")
                        config.EnableRemoteBlockRemoval = $('#inpEnableRemoteBlockRemoval').is(":checked");

                    // Gameplay

                    if (maskData.children("MaxActiveFracturePieces").text() == "true")
                        config.MaxActiveFracturePieces = $('#inpMaxActiveFracturePieces').val();
                    if (maskData.children("EnableStructuralSimulation").text() == "true")
                        config.EnableStructuralSimulation = $('#inpEnableStructuralSimulation').is(":checked");
                    if (maskData.children("SpawnShipTimeMultiplier").text() == "true")
                        config.SpawnShipTimeMultiplier = $('#inpSpawnShipTimeMultiplier').val();
                    if (maskData.children("RespawnShipDelete").text() == "true")
                        config.RespawnShipDelete = $('#inpRespawnShipDelete').is(":checked");
                    if (maskData.children("DisableRespawnShips").text() == "true")
                        config.DisableRespawnShips = $('#inpDisableRespawnShips').is(":checked");
                    if (maskData.children("StartInRespawnScreen").text() == "true")
                        config.StartInRespawnScreen = $('#inpStartInRespawnScreen').is(":checked");
                    if (maskData.children("ThrusterDamage").text() == "true")
                        config.ThrusterDamage = $('#inpThrusterDamage').is(":checked");
                    if (maskData.children("EnableIngameScripts").text() == "true")
                        config.EnableIngameScripts = $('#inpEnableIngameScripts').is(":checked");
                    if (maskData.children("EnvironmentHostility").text() == "true")
                        config.EnvironmentHostility = $('#inpEnvironmentHostility').val();
                    if (maskData.children("CargoShipsEnabled").text() == "true")
                        config.CargoShipsEnabled = $('#inpCargoShipsEnabled').is(":checked");
                    if (maskData.children("EnableToolShake").text() == "true")
                        config.EnableToolShake = $('#inpEnableToolShake').is(":checked");
                    if (maskData.children("VoxelGeneratorVersion").text() == "true")
                        config.VoxelGeneratorVersion = $('#inpVoxelGeneratorVersion').val();
                    if (maskData.children("EnableOxygen").text() == "true")
                        config.EnableOxygen = $('#inpEnableOxygen').is(":checked");
                    if (maskData.children("EnableOxygenPressurization").text() == "true")
                        config.EnableOxygenPressurization = $('#inpEnableOxygenPressurization').is(":checked");
                    if (maskData.children("EnableEncounters").text() == "true")
                        config.EnableEncounters = $('#inpEnableEncounters').is(":checked");
                    if (maskData.children("EnableDrones").text() == "true")
                        config.EnableDrones = $('#inpEnableDrones').is(":checked");
                    if (maskData.children("MaxDrones").text() == "true")
                        config.MaxDrones = $('#inpMaxDrones').val();
                    if (maskData.children("EnableWolfs").text() == "true")
                        config.EnableWolfs = $('#inpEnableWolfs').is(":checked");
                    if (maskData.children("EnableSpiders").text() == "true")
                        config.EnableSpiders = $('#inpEnableSpiders').is(":checked");

                    // Players
                    if (maskData.children("AutoHealing").text() == "true")
                        config.AutoHealing = $('#inpAutoHealing').is(":checked");
                    if (maskData.children("WeaponsEnabled").text() == "true")
                        config.WeaponsEnabled = $('#inpWeaponsEnabled').is(":checked");
                    if (maskData.children("InventorySizeMultiplier").text() == "true")
                        config.InventorySizeMultiplier = $('#inpInventorySizeMultiplier').val();
                    if (maskData.children("EnableSpectator").text() == "true")
                        config.EnableSpectator = $('#inpEnableSpectator').is(":checked");
                    if (maskData.children("PermanentDeath").text() == "true")
                        config.PermanentDeath = $('#inpPermanentDeath').is(":checked");
                    if (maskData.children("ShowPlayerNamesOnHud").text() == "true")
                        config.ShowPlayerNamesOnHud = $('#inpShowPlayerNamesOnHud').is(":checked");
                    if (maskData.children("EnableJetpack").text() == "true")
                        config.EnableJetpack = $('#inpEnableJetpack').is(":checked");
                    if (maskData.children("SpawnWithTools").text() == "true")
                        config.SpawnWithTools = $('#inpSpawnWithTools').is(":checked");
                    if (maskData.children("Enable3rdPersonView").text() == "true")
                        config.Enable3rdPersonView = $('#inpEnable3rdPersonView').is(":checked");

                    // Mods
                    if (maskData.children("Mods").text() == "true") {
                        var mods = [];
                        $("#inpMods").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                mods.push(value);
                        });
                        config.Mods = mods.join(";");
                    }

                    // Access
                    if (maskData.children("Administrators").text() == "true") {
                        var administrators = [];
                        $("#inpAdministrators").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                administrators.push(value);
                        });
                        config.Administrators = administrators.join(";");
                    }
                    if (maskData.children("Banned").text() == "true") {
                        var banned = [];
                        $("#inpBanned").val().split("\n").forEach(function (value) {
                            if (!isEmptyOrSpaces(value))
                                banned.push(value);
                        });
                        config.Banned = banned.join(";");
                    }
                    if (maskData.children("ResetOwnership").text() == "true")
                        config.ResetOwnership = $('#inpResetOwnership').is(":checked");
                    if (maskData.children("GroupID").text() == "true")
                        config.GroupID = $('#inpGroupID').val();

                    // Production
                    if (maskData.children("AssemblerSpeedMultiplier").text() == "true")
                        config.AssemblerSpeedMultiplier = $('#inpAssemblerSpeedMultiplier').val();
                    if (maskData.children("AssemblerEfficiencyMultiplier").text() == "true")
                        config.AssemblerEfficiencyMultiplier = $('#inpAssemblerEfficiencyMultiplier').val();
                    if (maskData.children("RefinerySpeedMultiplier").text() == "true")
                        config.RefinerySpeedMultiplier = $('#inpRefinerySpeedMultiplier').val();

                    // Construction
                    if (maskData.children("GameMode").text() == "true") {
                        if ($('#inpGameMode').is(":checked"))
                            config.GameMode = "Creative";
                        else
                            config.GameMode = "Survival";
                    }
                    if (maskData.children("WelderSpeedMultiplier").text() == "true")
                        config.WelderSpeedMultiplier = $('#inpWelderSpeedMultiplier').val();
                    if (maskData.children("GrinderSpeedMultiplier").text() == "true")
                        config.GrinderSpeedMultiplier = $('#inpGrinderSpeedMultiplier').val();
                    if (maskData.children("HackSpeedMultiplier").text() == "true")
                        config.HackSpeedMultiplier = $('#inpHackSpeedMultiplier').val();
                    if (maskData.children("EnableCopyPaste").text() == "true")
                        config.EnableCopyPaste = $('#inpEnableCopyPaste').is(":checked");
                    if (maskData.children("DestructibleBlocks").text() == "true")
                        config.DestructibleBlocks = $('#inpDestructibleBlocks').is(":checked");
                    if (maskData.children("EnableVoxelDestruction").text() == "true")
                        config.EnableVoxelDestruction = $('#inpEnableVoxelDestruction').is(":checked");
                    if (maskData.children("EnableConvertToStation").text() == "true")
                        config.EnableConvertToStation = $('#inpEnableConvertToStation').is(":checked");
                    if (maskData.children("StationVoxelSupport").text() == "true")
                        config.StationVoxelSupport = $('#inpStationVoxelSupport').is(":checked");

                    // Misc
                    if (maskData.children("IgnoreLastSession").text() == "true")
                        config.IgnoreLastSession = $('#inpIgnoreLastSession').is(":checked");
                    if (maskData.children("RealisticSound").text() == "true")
                        config.RealisticSound = $('#inpRealisticSound').is(":checked");

                    config.ServerID = serverID;

                    $.post("/API/Server/SESetConfiguration",
                    config,
                    function (data) {
                        var root = $($.parseXML(data)).find("Response");

                        if (root.children("Type").text() == "Error") {
                            toastr.error(root.children("Content").text(), "Error " + root.children("ReturnCode").text());
                            return;
                        }
                        toastr.success(root.children("Content").text(), "Server Settings updated");
                    });
                }
            });
        });
    }
</script>
